@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #ff66c4;
	--dark-color-b: #ff66c4;
	--light-color: #e6e9ff;
	--success-color: #000;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btnTM {
	cursor: pointer;
	padding: 5px 15px;
	background: var(#e6e9ff);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
  position: relative;
}

/* Chat Page */

/* ฉากหลังแชท */
.chat-container {
	max-width: 1100px;
	background: #C0C0C0;
	margin: 30px auto;
	overflow: hidden;
}

/* Header โลโก้บนซ้าย */
.chat-header {
  min-width: 800px;
	background: var(--dark-color-a);
	color: rgb(255, 255, 255);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-subheader {
  min-width: 800px;
	background: var(--dark-color-a);
	color: rgb(255, 255, 255);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar h4 {
	font-size: 16px;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
	margin-bottom: 20px;
}

.chat-sidebar ul li {
	padding: 5px 0px;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--success-color);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}


/* gaming page*/

/* .box{
  background-image: url(BoxGame.png);
  padding: 20%;
  margin: 5% 5% 5% 15%;
  background-size: contain;
   background-repeat: no-repeat;
  

}
.box2{
  background-image: url(Loid_Forger.png);
  width: 250px;
  height: 500px;
  float: left;
  position: static;
} */

/*-----------------------------------------*/
body {
	background-color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
}

#main-view {
	width:1000px;
	margin: 0 auto;
}

#header-area {
	margin: 5px;
}

#announcement {
	text-align: left;
}

#flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

#flex-container > div {
	margin: 5px;
}

#left-pane {
	background-color: #fff;
	min-height: 300px;
	min-width: 150px;
	max-width: 20%;

	order: 1;
	flex-grow: 1;
}

#middle-pane {
	order: 2;
	flex-grow: 2;
}

#content {
	background-color: #FFFFFF;
	width: calc(100% - 1px);
	height: 600px;
	min-height: 300px;
	padding: 5px;
	/* border: solid 1px #999; */
	overflow-y: scroll;
}

#right-pane {
	background-color: #fff;
	padding: 5px;
	min-height: 300px;
	min-width: 150px;
	max-width: 20%;

	order: 3;
	flex-grow: 1;
}

#selectArea {
	width: 185px;
	overflow-x: visible;
	display: none;
}

#votingPlayers {
	margin: 0;
}

#select {
	width: 185px;
}

#vote {
	width:50px;
}

#inventory {
	width: 100%;
	display: none;
}

.controls {
	display: inline-block;
	width: 100%;
	/* float: left; */
}

.controls > div {
	margin-top: 3px;
	margin-bottom: 0px;
}

.controls input {
	margin: 0px;
}

#nick-form {
	width: 100%;
}

#name {
	padding: 5px 0px;
	width: 200px;
}

#nick {
	width: 50px;
}

#chat-form {
	width: 100%;
}

#field {
	display: inline-block;
	padding: 5px 0px;
	width: 89%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#send {
	width: 10%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
